@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 200;
  src: url(/fonts/NanumBarunGothic/NanumBarunGothicUltraLight.otf) format('opentype'),
       url(/fonts/NanumBarunGothic/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  src: url(/fonts/NanumBarunGothic/NanumBarunGothicLight.otf) format('opentype'),
       url(/fonts/NanumBarunGothic/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url(/fonts/NanumBarunGothic/NanumBarunGothic.otf) format('opentype'),
       url(/fonts/NanumBarunGothic/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url(/fonts/NanumBarunGothic/NanumBarunGothicBold.otf) format('opentype'),
       url(/fonts/NanumBarunGothic/NanumBarunGothicBold.ttf) format('truetype');
}