@charset "UTF-8";
@import './_fonts-NanumBarunGothic.scss';
/********************************
reset
********************************/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NanumBarunGothic', '돋움', sans-serif;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

ul,
li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

a {
  font-family: 'NanumBarunGothic';
  text-decoration: none;
  color: #333;
}

address {
  font-style: normal;
}

ol,
article,
aside,
footer,
header,
nav,
section,
summary,
menu {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 0;
}

input,
select {
  background: #fff;
  border: 1px solid #c4cdda;
  vertical-align: middle;
}

input[type="file"] {
  border: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=password]::-ms-reveal {
  display: none;
}

textarea {
  width: 100%;
  background: #fff;
  font-family: 'NanumBarunGothic', '돋움', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  resize: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  word-break: break-all;
  /*    outline: none;*/
}

a,
input,
textarea,
keygen,
select,
button {
  font-family: 'NanumBarunGothic', '돋움', sans-serif;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  color: #333;
}

button[disabled="disabled"] {
  opacity: 0.5;
  cursor: inherit;
}

button > span,
button > .fa {
  position: relative;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[readonly],
input[readonly="readonly"] {
  background: #f5f5f5;
}

legend,
caption,
.hidden, .blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

ol,
ul,
li {
  list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

input[type='radio'] {
  -webkit-appearance: radio;
}

*, a, button, input, textarea, label {
  -webkit-tap-highlight-color: transparent;
}