@import './_m-common.scss';

@mixin profileImgArea($size) {
  display:flex;
  overflow:hidden;
  width:px($size);
  height:px($size);
  background-color:#2962ff;
  align-items:center;
  justify-content:center;

  @if $size == 50 {
    border-radius:px(20);
  } @else if $size == 40 {
    border-radius:px(16);
  }
}

.contents {
  display:flex;
  overflow:hidden;
  width:100%;
  flex:1;
  flex-direction:column;

  &__inner {
    display:flex;
    overflow:hidden;
    width:100%;
    padding:0 px(16);
    flex:1;
    flex-direction:column;

    &--chat-list {
      padding-top:px(12);
    }
  }

  &__list-search-input {
    width:calc(100% - #{px(32)});
    height:px(40);
    margin:0 auto;
    padding:px(13) px(12);
    border:none;
    border-radius:px(4);
    background-color:#f5f5f5;
    font-size:px(13);
    
    &::placeholder {
      color:#9e9e9e;
    }
  }

  &__scroll-area {
    display:flex;
    overflow:hidden;
    overflow-y:auto;
    flex:1;
    flex-direction:column;
  }

  &__chat-list {
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;

    &-area {
      padding:px(24) px(16);
    }

    & ~ & {
      margin-top:px(20);
    }

    &-left {
      display:flex;
      overflow:hidden;
    }

    &-right {
      display:flex;
      min-width:px(60);
      height:px(50);
      margin-left:px(22);
      flex-direction:column;
      align-items:flex-end;
      justify-content:space-between;
    }

    &-profile-img-area {
      @include profileImgArea(50);
      margin-right:px(12);

      &--40 {
        @include profileImgArea(40);
        background-color:#FFB23E;
      }
    }

    &-profile-img {
      width:100%;
      height:100%;
    }

    &-info-area {
      display:flex;
      overflow:hidden;
      flex:1;
      flex-direction:column;
    }

    &-member {
      display:flex;
      overflow:hidden;
      align-items:center;
    }

    &-member-name {
      overflow:hidden;
      font-size:px(14);
      white-space:nowrap;
      text-overflow:ellipsis;
    }

    &-member-count {
      display:inline-block;
      margin-left:px(8);
      font-size:px(14);
      color:#aaa;
    }
    
    &-chat-text {
      display:-webkit-box;
      overflow:hidden;
      margin-top:px(4);
      font-size:px(12);
      color:#aaa;
      line-height:px(15.6);
      text-overflow:ellipsis;
      -webkit-line-clamp:2;
      -webkit-box-orient:vertical;
    }

    &-date-time {
      font-size:px(10);
      color:#aaa;
    }

    &-chat-count {
      display:flex;
      height:px(20);
      padding:0 px(7);
      border-radius:px(10);
      background-color:#FF7B46;
      font-size:px(10);
      color:#fff;
      align-items:center;
      justify-content:center;
    }

    &-checkbox {
      display:none;
    }

    &-checkbox:checked + &-check-label {
      background-image:url(/images/mobile/circle-checkbox-on-24.svg);
    }

    &-check-label {
      display:flex;
      width:100%;
      align-items:center;
      justify-content:space-between;
      background-repeat:no-repeat;
      background-position:center right;
      background-image:url(/images/mobile/circle-checkbox-off-24.svg);
    }
  }

  &__tab {
    display:flex;
    height:px(60);
    background-color:#f9f9f9;
    justify-content:space-between;
    
    &-link {
      display:flex;
      width:20%;
      height:100%;
      flex-direction:column;
      align-items:center;
      justify-content:center;

      &--on {
        color:#2962FF;
      }

      &-name {
        font-size:px(12);
      }
    }

    &-icon {
      display:block;
      margin-bottom:px(8);
    }
  }

  &__add-button {
    display:flex;
    position:fixed;
    right:px(16);
    bottom:px(81);
    z-index:1;
    width:px(50);
    height:px(50);
    border-radius:50%;
    background:linear-gradient(132.83deg, #4879FF 14.78%, #2962FF 85.42%);
    align-items:center;
    justify-content:center;
  }

  &__search-chat-user {
    &-list-area {
      display:flex;
      overflow:hidden;
      overflow-x:auto;
      margin-bottom:px(16);
      padding:0 px(16);
    }

    &-list {
      display:flex;
      position:relative;
      flex-direction:column;
      align-items:center;

      & ~ & {
        margin-left:px(20);
      }
    }

    &-profile-img-area {
      @include profileImgArea(40);
      margin-bottom:px(7);
      background-color:#FFB23E;
    }

    &-profile-img {
      width:100%;
      height:100%;
    }

    &-name {
      font-size:px(10);
      color:#444;
    }

    &-close-button {
      display:flex;
      position:absolute;
      top:px(1);
      right:-#{px(8)};
      width:px(16);
      height:px(16);
      border-radius:50%;
      background-color:rgba(34, 34, 34, 0.6);
      align-items:center;
      justify-content:center;
    }
  }

  &__search-chat-list-title {
    margin-bottom:px(12);
    font-size:px(12);
  }

  &__bottom-button-area {
    display:flex;
    height:px(50);
  }

  &__bottom-button {
    display:flex;
    height:100%;
    background-color:#ddd;
    font-weight:bold;
    font-size:px(14);
    color:#fff;
    align-items:center;
    justify-content:center;

    &--on, &--blue {
      background-color:#3B70FF;
    }

    &--full {
      width:100%;
    }
  }

  &__chat-room {
    &-profile-form {
      position:relative;
      margin-left:-#{px(40)};

      &--one {
        margin-left:0;
      }
    }

    &-img-area {
      display:flex;
      padding:px(40) 0 px(80);
      align-items:center;
      justify-content:center;
    }

    &-profile-img-label {
      display:block;
      position:absolute;
      top:px(35);
      left:px(36);

      &--one {
        position:relative;
        top:auto;
        left:auto;
      }

      &:after {
        content:'';
        display:block;
        overflow:hidden;
        position:absolute;
        bottom:px(1);
        right:-#{px(8)};
        width:px(28);
        height:px(28);
        border-radius:50%;
        background:url(/images/mobile/camera-icon-gray-18.svg) no-repeat;
        background-position:center center;
        background-color:rgba(255, 255, 255, 0.8);
      }
    }

    &-profile-img-area {
      @include profileImgArea(66);
      border-radius:px(24);
      background-color:#FFB23E;

      &--file {
        border:px(4) solid #fff;
        box-sizing:content-box;
      }
      
      &--one {
        @include profileImgArea(105);
        border:none;
        border-radius:px(44);
      }
    }

    &-name {
      display:flex;
      width:100%;
      flex-direction:column;

      &-title {
        margin-bottom:px(8);
        font-weight:bold;
        font-size:px(12);
      }

      &-input {
        width:100%;
        height:px(40);
        padding:px(14) px(12);
        border:none;
        border-radius:px(4);
        background-color:#f5f5f5;
        font-size:px(13);

        &::placeholder {
          color:#9e9e9e;
        }
      }
    }
  }

  &__chat-area {
    display:flex;
    flex:1;
    padding:px(10) px(16);
    background-color:#E5E5E5;
    flex-direction:column;
  }

  &__chat-area > &__chat-date:first-child,
  &__chat-area > &__chat-text-area:first-child {
    margin-top:0;
  }

  &__chat-date {
    display:flex;
    position:relative;
    width:100%;
    margin-top:px(12);
    justify-content:center;

    &:after {
      content:'';
      display:block;
      position:absolute;
      top:50%;
      left:0;
      width:100%;
      height:px(1);
      background-color:#ccc;
      transform:translateY(-50%);
    }

    &-history {
      display:inline-block;
      position:relative;
      z-index:1;
      padding:0 px(9);
      background-color:#E5E5E5;
      font-size:px(12);
    }
  }

  &__chat-text {
    &-area--me & {
      background-color:#FFD80E;

      &:before {
        right:-#{px(2)};
        left:auto;        
        background-image:url(/images/mobile/horse-tail-icon-yellow-8.svg);
      }
    }

    & {
      position:relative;
      padding:px(8) px(12);
      border-radius:px(13);
      background-color:#fff;
      font-size:px(12);
      line-height:px(15.6);

      &:before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:-#{px(2)};
        z-index:1;
        width:px(8);
        height:px(14);
        background-image:url(/images/mobile/horse-tail-icon-white-8.svg);
        background-repeat:no-repeat;
      }
    }

    &-area {
      display:flex;
      width:100%;
      margin-top:px(12);

      &--me {
        flex-direction:row-reverse;
      }
    }
    
    &-profile-img-area {
      @include profileImgArea(34);
      border-radius:px(14);
      background-color:#FF7B46;
    }

    &-box {
      max-width:calc(100% - #{px(94)});
      margin:0 px(6);
    }

    &-date-time {
      max-width:px(48);
      align-self:flex-end;
    }

    &-user-name {
      margin-bottom:px(6);
      font-size:px(12);
    }

    &-date-time {
      font-size:px(10);
      color:#aaa;
    }
  }

  &__chat-input-area {
    display:flex;
    height:px(44);
    padding:0 px(9) 0 px(18);
    align-items:center;
  }

  &__chat-add-file-button {
    width:px(20);
    height:px(20);
    margin-right:px(6);
  }

  &__chat-textarea-inner {
    display:flex;
    overflow:hidden;
    height:px(36);
    border:px(1) solid #ddd;
    border-radius:px(18);
    background-color:#f5f5f5;
    flex:1;
  }

  &__chat-textarea-box {
    padding:px(10) px(12);
    flex:1;
  }

  &__chat-textarea {
    overflow:hidden;
    height:100%;
    border:none;
    background-color:#F5F5F5;
    line-height:px(15.5);
    outline:none;
    flex:1;
  }

  &__chat-textarea-emoticon-button {
    display:flex;
    height:100%;
    padding:px(12);
    align-items:center;
  }

  &__chat-send-button {
    height:100%;
    padding:0 px(7);
    color:#3B70FF;
  }
  
  // 대화창 레이어 팝업
  &__chat-member {
    &-setting-area {
      padding:px(24) px(16);
    }

    &-setting-box {
      padding-bottom:px(24);
      border-bottom:px(1) solid #eee;

      & ~ & {
        margin-top:px(24);
      }
    }

    &-setting-title {
      font-weight:400;
    }

    &-list-area {
      margin-top:px(16);

      & > .contents__chat-list {
        margin-top:px(12);
      }
    }

    &-add-button {
      display:flex;
      width:100%;
      align-items:center;
    }
    
    &-add-icon {
      display:flex;
      overflow:hidden;
      width:px(40);
      height:px(40);
      margin-right:px(12);
      border:px(1) solid #eee;
      border-radius:px(16);
      background-color:#fafafa;
      align-items:center;
      justify-content:center;
    }

    &-add-text {
      font-size:px(14);
      color:#3B70FF;
    }

    &-list-inner {
      display:flex;
      align-items:center;
    }

    &-list-delete-button {
      width:px(24);
      height:px(24);
    }

    &-admin-setting-button {
      display:flex;
      width:100%;
      margin-top:px(16);
      justify-content:space-between;
    }

    &-admin-setting-text-area {
      display:flex;
      align-items:center;
    }

    &-admin-setting-text {
      margin-left:px(15);
      font-size:px(14);
    }
  }

  &__chat-member-bottom-area {
    display:flex;
    height:px(44);
    padding:0 px(20);
    background-color:#f9f9f9;
    align-content:center;
    justify-content:space-between;
  }
}

.dimmed {
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100vh;
  background-color:rgba(0, 0, 0, 0.5);
}
.popup {
  background-color:#fff;
  
  &--chat-setting {
    display:flex;
    overflow:hidden;
    position:absolute;
    top:0;
    right:0;
    width:px(300);
    height:100%;
    flex-direction:column;
  }
}